{
	"experimentalOperatorPosition": "start",
	"experimentalTernaries": true,
	"objectWrap": "collapse",
	"plugins": ["prettier-plugin-tailwindcss", "@prettier/plugin-oxc"],
	"printWidth": 100,
	"useTabs": true
}
